

{% block body %}
    <h1 align="center">patients folders</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.id }}</td>
                <td>{{ dossier.nom }}</td>
                <td>{{ dossier.prenom }}</td>
                <td>{{ dossier.date ? dossier.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dossier.image }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
