{% extends 'base.html.twig' %}

{% block title %}Archive index{% endblock %}

{% block body %}
    <h1>Archive index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Rdv</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td>{{ archive.id }}</td>
                <td>{{ archive.firstname }}</td>
                <td>{{ archive.lastname }}</td>
                <td>{{ archive.rdv }}</td>
                <td>{{ archive.image }}</td>
                <td>
                    <a style="color:blue;" href="{{ path('archive_show', {'id': archive.id}) }}">return</a>
                    <a style="color:blue;" href="{{ path('archive_edit', {'id': archive.id}) }}">update</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a style="color:blue;" href="{{ path('archive_new') }}">Create new</a>
{% endblock %}
